{% extends 'base.html'%}
{% block content %}
<h4>Hi, {{user.username}}, this is your data:</h4>
<div class="user-data">
    <ul>
        <li>First: {{user.first_name}}</li>
        <li>Last: {{user.last_name}}</li>
        <li>Nick: {{user.email}}</li>
    </ul>
</div>
<div class="feedbacks-container">
    {%if feedbacks%}
    <ul class="feedbacks">
        {%for feedback in feedbacks%}
        <li>
            <div class="feedback-title">
                {{feedback.title}}
            </div>
            <div class="feedback-content">
                {{feedback.content}}
            </div>
            <div class="buttons-container">
                <a href="/feedback/{{feedback.id}}/update">edit feedback</a>
                <a href="/feedback/{{feedback.id}}/delete">delete feedback</a>
            </div>
        </li>
        {%endfor%}
    </ul>
    {%else%}
    <p>no feedbacks yet</p>
    {%endif%}
    <div class="buttons-container">
        <a href="/users/{{user.username}}/feedback/add">Add feedback</a>
        <a href="/users/{{user.username}}/delete">delete user</a>
    </div>
</div>
{% endblock%}